ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .todo {
    color: #1a36d8;
    padding: 0.5rem 2rem;
    background-color: white;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 0.5rem;
      border: none;
      background-color: white;
      font-size: 1.25rem;
    }
  }

  .completed {
    color: #a6accc;
    text-decoration: line-through;
  }
}
